aiohttp==3.14.3
mypy==1.17.1
pytest==9.0.3
pytest-asyncio==1.4.0
pytest-cov==7.1.0
ruff==0.12.9
tzdata==2026.3
voluptuous==0.15.2
homeassistant==2026.8.3; python_version >= "3.14"
pytest-homeassistant-custom-component==0.13.357; python_version >= "3.14"
